* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: $main-transition;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #d8222881;
}

body {
    font-family: $primary-font;
    color: $color-text;
    background-color: $light-bg;
}

a {
    text-decoration: none;
    color: $primary-color;
}
