.breadcrumbs {
    background-color: $primary-color;
    color: $light-text;
    padding: 40px 0;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;

        h4,
        p {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .breadcrumbs .content-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .path {
            text-align: right;

            a {
                color: $medium-light-text;
            }
        }
    }
}