.contact-form {
    &>* {
        padding: 5px 15px;
        margin: 10px auto;
        display: block;
        width: 100%;
    }

    &*::placeholder {
        color: $color-text;
    }

    textarea {
        resize: none;
    }

    input[type='submit'] {
        width: 50%;
        font-weight: 700;
        margin: 15px 0 0 0;
    }

    .contact-form-loader,
    .contact-form-response {
        padding: 15px 0;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .contact-form-response i {
        color: $success-color;
        font-size: 30px;
    }

    [required]:valid {
        border: 1px solid $success-color;
    }

    [required]:invalid {
        border: 1px solid $error-color;
    }

    [required]:focus {
        outline: none;
    }

    .contact-form-error {
        font-size: 80%;
        background-color: $error-color;
        color: $light-text;
        padding: 0px 10px;
        margin: -10px 0px 0px 0px;
        transition: none;
    }

    .contact-form-error.is-active {
        display: block;
    }

    .none {
        display: none;
    }
}