.contact .contact-info .contact-info-items .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;

    i {
        color: $primary-color;
        margin-right: 15px;
    }

    a,
    p {
        color: $color-text;
    }
}