* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: $main-transition;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #d8222881;
}

body {
  font-family: $primary-font;
  color: $color-text;
  background-color: $light-bg;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover,
  &:active,
  &:visited {
    color: darken($color: $primary-color, $amount: 10);
  }
}

section {
  padding: 70px 0;
}

// Texts -------------------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  color: $secondary-color;
  font-weight: 700;
  margin-bottom: 15px;
}

h1 {
  font-size: 38px;
}

h2 {
  color: $light-text;
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

h4 {
  color: $light-text;
  font-size: 24px;
}

h5 {
  font-size: 21rem;
}

h6 {
  font-size: 18px;
}

small {
  font-size: 14px;
}

// Buttons -------------------------------------------------------------------------------------------

.btn {
  border-radius: $border-radius;
  font-family: $secondary-font;
  font-weight: 700;
  padding: 8px 35px;
}

.btn-primary {
  background-color: $primary-color;
  border: 2px solid $primary-color;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
}

.btn-secondary {
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: transparent;
  border: 2px solid $secondary-color;
  color: $secondary-color;
}