// Top ----------------------------------------------------------

header .top {
    background-color: $dark-bg;
    color: $light-text;
    padding: 15px 0;

    .content-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }
}

// Logo ----------------------------------------------------------

header .logo .content-wrapper {
    display: flex;
    justify-content: center;
}

header .logo .content-wrapper a img {
    max-width: 262px;
    width: 100%;
    margin: 30px 0;
}

header .logo .content-wrapper a img:hover {
    transform: translateX(5px);
}

@media screen and (min-width: 576px) {
    header .logo .content-wrapper {
        justify-content: flex-start;
    }
}

// Navbar ----------------------------------------------------------

header nav.navbar {
    padding: 15px 0;
    border-top: 1px solid $light-border-color;
    font-family: $secondary-font;
    font-weight: 600;
}

header nav.navbar .navbar-toggler {
    border: none;
    outline: none;
}

header nav.navbar .container {
    justify-content: center;
}

header nav.navbar .nav-link,
header nav.navbar .dropdown-item {
    color: $primary-color;
    padding: 20px !important;
}

header nav.navbar .nav-link:hover {
    color: $primary-color;
}

header nav.navbar .dropdown-menu {
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    border: none;
    background: $primary-color;
    width: auto;
}

header nav.navbar .dropdown-item {
    padding: 5px !important;
    color: $light-text;
}

header nav.navbar .dropdown-item:hover,
header nav.navbar .dropdown-item:active {
    background-color: darken($color: $primary-color, $amount: 10);
}

@media screen and (min-width: 576px) {
    header nav.navbar .container {
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    header nav.navbar {
        padding: 0;
    }

    header nav.navbar .nav-link {
        border-top: 3px solid $light-bg;
    }

    header nav.navbar .nav-link:hover {
        border-top: 3px solid $dark-border-color;
    }
}