.carousel.home-img-slide {
    max-height: 550px;
    overflow: hidden;
}

.carousel.home-img-slide .carousel-indicators button {
    width: 16px;
    height: 15px;
    background-color: #01010191;
}

.carousel.home-img-slide .carousel-indicators button.active {
    background-color: #ffffff;
}