.scroll-top-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: rotate(-90deg);
    border-radius: 50%;
    outline: none;
    border: 2px solid $footer-bg;
    width: 40px;
    height: 40px;
    background-color: $footer-bg;
    color: $light-text;

    &:hover,
    &:active {
        background-color: darken($color: $footer-bg, $amount: 5);
    }
}