.products-img-slide {
    .carousel-inner {
        border-radius: $border-radius;
    }

    .carousel-indicators {
        position: relative;

        button {
            width: 120px !important;
            height: 100%;

            img {
                border-radius: $border-radius;
                height: 100%;
            }
        }
    }
}