// Text
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

// Colors
$primary-color: #d82229;
$secondary-color: #033566;
$color-text: #333333;
$medium-color-text: #888888;
$light-text: #ffffff;
$medium-light-text: #ffffffcc;
$light-bg: #ffffff;
$dark-bg: #033566;
$medium-light-bg: #fafafa;
$footer-bg: #022f5c;
$light-border-color: #eeeeee;
$dark-border-color: #d1d1d1;
$success-color: #4caf50;
$error-color: #f44336;

// Transitions
$main-transition: ease-in-out .2s;

// Borders
$border-radius: 3px;